* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  font-family: 'Poppins', sans-serif;
  color: white;
}
body {
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}


.startscreen {
min-width: 100vw;
min-height: 100vh;
  background-image: url('https://lh3.googleusercontent.com/pw/ABLVV85BmXC5cwaO1Lt-5SVZmqzh-C2sjexAqfGfLoeRJR6gUrKAMt51WyFwaislzia_Fkyo6jiJMVkIAQ2O76mmvb3_RDTNXKgEJ8EBTwA7B9rnxc3YVs8=w2400');
background-size: cover;
background-repeat: no-repeat;
display: grid;
place-items: center;
}

#newgame {
font-size: 5rem;
padding: 1rem;
font-weight: 300;
font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
color: #002D62;
border-radius: 30px 30px;
background: #white;
border-bottom: 1rem solid;
}

#newgame:hover {
cursor: pointer;
}

#game {
min-width: 100vw;
min-height: 100vh;
background: rgb(136,156,172);
color: #000000;
background-image: url('https://lh3.googleusercontent.com/pw/ABLVV85BmXC5cwaO1Lt-5SVZmqzh-C2sjexAqfGfLoeRJR6gUrKAMt51WyFwaislzia_Fkyo6jiJMVkIAQ2O76mmvb3_RDTNXKgEJ8EBTwA7B9rnxc3YVs8=w2400');
background-size: cover;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
display: none;
} 

.gameimg {
width: 50vw;
height: 50vh;
margin: 5rem;
margin-right: -5rem;
background-image: url('https://lh3.googleusercontent.com/pw/ABLVV87GMLcC3ZxqLQCThsAljc16DYeVq42vouT3aShe4--RHVbZGj-VJuN7M-4T89lQJTLCuINA46UrLAJjtlK_q2uUyFxsA3z_1r_tPlkh4ZM0YwZZboQ=w2400');
background-size: contain;
background-repeat: no-repeat;
padding: 2rem;

}
.textbox {
width: 30vw;
padding: 10px;
color: white;
border: 1px solid;
margin: 2rem;
margin-left: -10rem;
font-size: 1.25rem;
line-height: 2em;

}

#container {
display: grid;
grid-template-columns: auto auto;
border: 1px solid white;
  background-color: rgba(76, 76, 76, 0.36);
backdrop-filter: blur(4px);
}

.show {
display: block;
}


.btn1 {
margin: 1rem;
width: 5rem
}

.btn2 {
display: none;
margin: 1rem;
padding-left: 2rem;
padding-right: 2rem;
}
.btn3 {
display: none;
margin: 1rem;
padding-left: 2rem;
padding-right: 2rem;
}
.btn4 {
display: none;
margin: 1rem;
padding-left: 2rem;
padding-right: 2rem;
}

#playbuttons {
display: inline-flex;
}

#health, #gold {

color: black;
text-align: center;

margin-top: 1rem;
border-radius: 10px 10px;
margin-left: 10rem;
margin-right: 10rem;
background: white;
font-size: 1.5rem;

}
i {
margin-right: 1rem;
}


@media (max-width: 1268px) {
#container {
  grid-template-columns: auto;
  }
.textbox {
  margin: 0;
}
}

@media (max-width: 981px) {
#container {
  grid-template-columns: auto;
  }
.textbox {
  margin: 0;
  width: 100vw;
}
}
@media (max-width: 28.75em) {
.gameimg {
  width: 85vw;
  margin: 0;
  }
  #container {
  grid-template-columns: auto;
  }
.textbox {
  
  margin-top: -2rem;
  width: 85vw;
}

}
@media (max-width: 75em) {
.gameimg {
  min-width: 50vw;
  }
  #container {
  grid-template-columns: auto;
  margin-bottom: 3rem;
  }
 .textbox {
  margin: 0;
}

}
@media (max-width: 61.25em) {
  #container {
  grid-template-columns: auto;
  
  }
.gameimg {
  width: 85vw;
  margin: 0;
  }
 .textbox {
  margin: 0;
  width: 85vw;
}
}

.hide {
display: none;
}